button.positive {
  background: var(--green-light);
  color: var(--green-dark);
}
button.negative {
  background: var(--red-light);
  color: var(--red-dark);
}
.active {
  font-size: 1.2em;
  font-style: italic;
  font-weight: 700;
}
.ally {
  max-width: 100%;
  margin: 0 auto;
  min-height: 100vh;
  display: grid;
  place-content: flex-start;
  gap: 20px;
  font-family: system-ui, sans-serif;
  font-size: 20px;
  @media (min-width: 1024px) {
    max-width: 60%;
  }
}

.allyChatContainer {
  --r: 1em; /* the radius */
  --t: 1.5em; /* the size of the tail */
  background: linear-gradient(135deg, var(--blue-light), var(--blue-dark))
    border-box;
  border-inline: var(--t) solid #0000;
  border-radius: calc(var(--r) + var(--t)) / var(--r);
  border-bottom-left-radius: 0 0;
  color: #fff;
  margin: 10px;
  mask: radial-gradient(100% 100% at 0 0, #0000 99%, #000 102%) 0 100% /
      var(--t) var(--t) no-repeat,
    linear-gradient(#000 0 0) padding-box;
  padding: 1em;
  place-self: start;
  width: 80%;
}

.allyChatContainer ul {
  list-style-position: inside;
  list-style-type: circle;
  font-family: var(--body-font);
  font-size: var(--font-size-med);
  padding: 0 10px;
}

.userChatContainer {
  --r: 1em; /* the radius */
  --t: 1.5em; /* the size of the tail */
  background: linear-gradient(135deg, var(--blue-dark), var(--blue-light))
    border-box;
  border-inline: var(--t) solid #0000;
  border-radius: calc(var(--r) + var(--t)) / var(--r);
  border-bottom-right-radius: 0 0;
  color: #fff;
  margin: 10px;
  mask: radial-gradient(100% 100% at 100% 0, #0000 99%, #000 102%) 100% 100% /
      var(--t) var(--t) no-repeat,
    linear-gradient(#000 0 0) padding-box;
  padding: 1em;
  place-self: end;
  width: 80%;
}

.fade {
  opacity: 0;
  animation: fadeIn 5s;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
