.navLink {
  color: var(--red-med);
  font-weight: var(--font-semi-bold);
  font-family: var(--header-font);
  font-size: 1.75rem;
  transition: color 0.4s;
  &:hover {
    color: var(--white);
  }
}

.navToggle {
  font-size: 1.5rem;
  color: var(--red-med);
  cursor: pointer;
  @media (min-width: 1024px) {
    display: none;
  }
}

.navClose {
  position: absolute;
  top: 1rem;
  right: 1.5rem;
}

.navCta {
  background-color: var(--blue-dark);
  color: var(--white);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  padding: 0.75rem 1.5rem;
}

.navList {
  display: flex;
  flex-direction: column;
  row-gap: 2.5rem;
  list-style-type: none;
  padding: 0;
  @media (min-width: 1024px) {
    flex-direction: row;
    column-gap: 2.5rem;
  }
}

.navLogo {
  color: var(--red-med);
  transition: color 0.4s;
  font-size: 4.2rem;
  font-family: var(--header-font);
}

.navMenu {
  display: flex;

  justify-content: space-between;
  position: fixed;
  top: 0;
  right: -100%;
  background-color: var(--blue-dark);
  backdrop-filter: blur(16px);
  -webkit-backdrop-filter: blur(16px);
  width: 80%;
  height: 100%;
  padding: 6rem 2rem 0;
  transition: right 0.4s;

  @media (min-width: 1024px) {
    position: relative;
    height: var(--header-height);
    margin: 0 1rem;
    top: auto;
    right: auto;
    padding: 1rem;
    align-items: center;
  }
}

.showMenu {
  right: 0;
}
